name: main
on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * 0"
jobs:
  main:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        version: [3.7, 3.x]
    runs-on: ${{matrix.os}}
    steps:
      - run: git config --global core.longpaths true
      - run: Set-ItemProperty -Path 'HKLM:\SYSTEM\CurrentControlSet\Control\FileSystem' -Name LongPathsEnabled -Type DWord -Value 1
        shell: pwsh
        if: ${{runner.os == 'Windows'}}
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{matrix.version}}
      - run: pip install python-qpid-proton
